 {% extends 'base.html.twig' %} {% block body %}


<div id='calendar'></div>
{% for e in evenements %}
<div class="evenement" style="border: 2px solid black; margin-top: 5px;">
	{{ e.title }} 
	{{ e.author}} 
	{{ e.hour|date('h:m')}} 
	{{e.day|date('d/m/Y') }}
	{{ e.picture }}
	{{ e.content | raw}} 
	{{e.created|date('d/m/Y h:m:s') }} 
	<a href="{{ path('app_app_description', {'id' : e.id}) }}"> lien</a>
</div>
{% endfor %} 
{% endblock body %}
