{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Liste des événements {% endblock %}

 {% block navbarLien %}
     {{ include(':element:navbar-lien.html.twig') }}
 {% endblock %}

 {% block article %}
     <h2 >Calendrier des événements</h2 >

     <div id="calendar" class="calendar" ></div >

     <h2 >Derniers événements</h2 >
     <div class="wrapper-evenement" id="wrapper-evenement" data-evenement="{{ nombreTotalEvenements[1] }}">
         {{ include(':element:evenement.html.twig') }}
     </div>

 {% endblock %}

{% block calendrier %}
    <!-- n'affiche pas le calendrier sur cet page de la sibebar sur cette page-->
    {{ render(controller('AppBundle:App:Events')) }}
{% endblock %}
