
{% extends 'base.html.twig' %}

{% block navbarLien %}
	<li><a class="navbar-lien" href="{{ path('app_app_accueil') }}">Accueil</a></li>
	<li class="active"><a class="navbar-lien" href="{{ path('app_app_evenement') }}">evenement</a></li>
	<li><a class="navbar-lien" href="{{ path('app_app_creation') }}">creation</a></li>
{% endblock %}

{% block article %}
<br />	
	{{ evenement.title }}
	
	{{ form_start(form) }}
	{{ form_row(form) }}
	{{ form_end(form) }}
	
	<button><a href="{{ path('app_app_evenement') }}">Annuler</a></button>
	
	{{ tinymce_init() }}
{% endblock %}
