{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">


<head >
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="description" content="Site du collectif Poubelle en nord sur la récuperation alimentaire sur Lille et ses alentours" >
    <meta name="keywords" content="récupération, alimentaire, collectif, glanage, poubelle en nord, marché" >
    <meta name="robots" content="noindex" >
    <link rel="author" href="humans.txt" />
    <link rel="icon" type="image/png" href="{{ asset('css/43315166.png') }}" />


    <title > Poubelle en N(or)d - {% block title %}{% endblock %}</title >

    {% block styleshetts %}
        {% stylesheets '@all_stylesheets' %}
        <link rel="stylesheet" href="{{ asset_url }}" >
        {% endstylesheets %}

    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" ></script >
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" ></script >
    <![endif]-->
</head >


<body>

<!--================================================
                navbar Administration
====================================================-->

{% if is_granted('ROLE_ADMIN') %}
    <nav class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container" >
            <a href=" {{ path('logout') }} " class="btn btn-default btn-xs pull-right" >Se deconnecter</a >
            <p class="navbar-text" >Vous êtes connectez en tant qu'administrateur</p >
        </div >
    </nav >
{% endif %}



<!--================================================
                Navbar
====================================================-->

<nav class="navbar navbar-default" >
    {% block navbar %}
    <div class="container" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false" >
                <span class="sr-only" >Toggle navigation</span >
                <span class="icon-bar" ></span >
                <span class="icon-bar" ></span >
                <span class="icon-bar" ></span >
            </button >

            <p class="navbar-text titre" ><a href="{{ path('app_app_accueil') }}" >Poubelle en N
                    <span class="or" >or</span >
                    d
                </a >
            </p >
        </div >

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
            <ul class="nav navbar-nav pull-right" >
                <!-- permet de les éléments comme actif dans les autres pages -->
                {% block navbarLien %}
                    <li ><a class="navbar-lien" href="{{ path('app_app_accueil') }}" >Accueil</a ></li >
                    <li ><a class="navbar-lien" href="{{ path('app_app_evenement') }}" >evenement</a ></li >
                    <li ><a class="navbar-lien" href="{{ path('app_app_creation') }}" >creation</a ></li >
                {% endblock %}
            </ul >
        </div ><!-- /.navbar-collapse -->
    </div ><!-- /.container-fluid -->
</nav >
{% endblock navbar %}


<div class="container" >

    <!--================================================
                    Baniere
    ====================================================-->

    {% block baniere %}

    {% endblock %}

    <!--================================================
                    Article
    ====================================================-->

    <article class="col-xs-12 col-sm-8 col-md-8" >
        {% block article %}

        {% endblock %}
    </article >

    <!--================================================
                    Aside
    ====================================================-->

    <aside class="col-xs-12 col-sm-4 col-md-4" >
        {% block sidebar %}
            {% block contact %}
            <div class="contact" >
                <h3 class="contact-titre" >Nous contacter</h3 >
                <div class="email" >
                    <p class="contact-email" >Par email:</p >
                    <ul >
                        <li class="contact-email-element" >compost_club@riseup.net</li >
                    </ul >
                </div >
                <a href="{{ path('app_app_contact') }}" class="btn button-or center-block">En savoir plus</a>
            </div >
            {% endblock contact %}
            {% block calendrier %}
                <div id="calendar" class="calendar" ></div >
                {{ render(controller('AppBundle:App:Events')) }}
            {% endblock %}
            <hr >

            <div class="amis" >
                <p class="aside-title" >Associations amis</p >
                <ul >
                    <li ><strong ><a href="http://liledesolidarite.overblog.com/" > L'île de solidarité</a ></strong >​</li >
                    <li ><strong ><a href="http://lesgarspilleurs.org" >Les Gars'pilleurs</a ></strong ></li >
                    <li ><strong ><a href="http://foodnotbombs.net/new_site/" >Food not bombs</a >​</strong ></li >
                </ul >
            </div >

            <hr >

            <div class="utile" >
                <p class="aside-title" >Liens utiles</p >
                    <ul >
                        <li ><strong ><a href="https://framacalc.org/LillePoubelles" >Framacalc des lieux de recup : </a >​</strong >Tableur des lieux de recup sur Lille et ses environs.</li >
                        <li ><strong ><a href="http://freegan.fr/" >Freegan : </a ></strong>Un bon site pour apprendre les bases du <i >Freeganisme.</i > et de la recup alimentaire</li >
                        <li ><strong ><a href="http://trashwiki.org/en/Main_Page" >Trash wiki : </a >​</strong >Site collaboratif anglophone sur le freeganisme et le glanage.</li >
                    </ul >
            </div >

            <hr >

            <div class="facebook" >
                <p class="aside-title" >Se tenir au courant de la récup sur Lille</p >

                <div class="fb-page"
                     data-href="https://www.facebook.com/R%C3%A9cup-Alimentaire-March%C3%A9s-Poubelles-Lille-223676804439629/?fref=ts"
                     data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="false" ></div >

            </div >
        {% endblock %}

    </aside >

</div >

<!--================================================
                Footer
====================================================-->

<footer >
    <div class="container" ><p class="footer-element" ><a href="{{ path('app_app_cgu') }}" >Mentions légales et CGU</a >
            - <a href="{{ path('login') }}" >Administration</a ></p ></div >

</footer >


<!--================================================
                Javascripte
====================================================-->

{% block javascript %}

    {% javascripts '@all_javascript' %}
    <script src="{{ asset_url }}" ></script >
    {% endjavascripts %}


    <!-- script pour l'application facebook -->
    <div id="fb-root" ></div >
    <script >(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script >

{% endblock %}
</body>
</html>
